@import '../../.cache/wal/colors-waybar.css';

* {
	font-family: "Cascadia Code NF";
	background-image: none;
	box-shadow: none;
	transition: 150ms;
}

window {
	background-color: rgba(12, 12, 12, 0.25);
	padding: 20px;	
}

button {
  color: #FFFFFF;
	background-color: @color1;

	font-size: 50px;

  border-radius: 0;
  border-color: black; 
	border-style: solid;
	border-width: 0px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: 10%;
	animation: gradient_f 20s ease-in infinite;
	box-shadow:
  0 0 2px @foreground,
  0 0 5px @foreground,
  0 0 10px @foreground,
  0 0 20px @foreground,
  0 0 40px @foreground;
}

button:focus, button:active {
	background-color: @foreground;
	background-size: 20%;
	animation: gradient_f 20s ease-in infinite;
	transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
	border: 0px solid @foreground;
	outline-style: none;
}

button:hover {
	background-color: @color14;
  background-size: 25%;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
	box-shadow:
  0 0 5px @foreground,
  0 0 10px @foreground,
  0 0 20px @foreground,
  0 0 40px @foreground,
  0 0 80px @foreground;
}

#logout {
	border-radius: 50px;
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
	border-radius: 50px;
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
	border-radius: 50px;
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
	border-radius: 50px;
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
	border-radius: 50px;
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
